<div class="container">
    <div class="row">
        <h2 class="col-6 offset-3 edit_title">投稿内容の編集</h2>
    </div>
		<%= form_with(model: @postarticle, local: true) do |form| %>
		<div class="row">
        	<div class="col-6 offset-3 edit_field ">
		        <p class="post_text">タイトル</p>
		        <%= form.text_field :title, class: 'form-control' %>
		         <p class="post_text" rows="">本文</p>
		        <%= form.text_area :body, class: "form-control input-lg" , size: "20x20"%>
		        <p class="post_text">住所</p>
		        <%= form.text_field :address, class: 'form-control' %>
		      	<%= link_to "詳細画面に戻る", postarticle_path, class: "btn btn-info" %>
		        <%= form.submit "更新", class: "btn btn-primary " %>
	   		</div>
    	<% end %>
    </div>
</div>

