<h2>新規投稿</h2>

<div class="container">
	<h1>新規登録</h1>
		
      <div>
		<%= form_with(model: @postarticle, local: true) do |form| %>

	        <h4>タイトル</he>
	        <%= form.label :title %>
	        <%= form.text_field :title %></p>
	        
	        <h4>内容</h4>
	        <%= form.label :body %>
	        <%= form.text_area :body %>

	        <h4>住所</h4>
	        <%= form.label :address %>
	        <%= form.text_field :address %>
	        	
	        		<%= form.fields_for :postarticle_images do |image| %>
	        		<% 5.times do %>
	        			<%= image.attachment_field :image,  :multiple => true %>
	        		<% end %>
	      <div class="actions">
	      	<h4>subumitボタン確認</h4>
	        <%= form.submit "新規投稿", class: "btn btn-primary pull-right" %>
	      </div>
	    <% end %>
    	<% end %>
    </div>
</div>