<div class="container-fluid">
	<div class="col-9 offset-1 index_title">
		<h2>お気に入り記事一覧</h2>
	</div>
		<% @bookmark_postarticles.each do |article| %>
			<div class="row index_box" >
				<div class="col-4 offset-1">
					<% article.postarticle_images.first(1).each do |image| %>
						<%= attachment_image_tag image, :image, size: "300x200", fallback: "no_image.jpg"%>
					<% end %>
				</div>
				<div class="col-5" >
					<div class="article_title">
					<%= link_to article.title, postarticle_path(article), class: "" %><br>
					</div>
					<div>
						<p class="article_body"><%= article.body  %></p>
					</div>
					<div class="float-right">
						<p class="article_date">投稿日:<%= article.created_at.strftime('%Y/%m/%d') %></p>
					</div>
				</div>
			</div>
		<% end %>
</div>

<div class="row">
    <div class="col-6 offset-3">
        <h2 >googlemap</h2>
        <div id='map'></div>
        <input id="location" type="textbox" value="">
		<input type="button" value="Encode" onclick="locationAddress()">
    </div>
</div>
<style>
#map{
  height: 600px;
  width: 600px;
}
</style>


<script>
let map
let geocoder
 
	 function initMap(){
	  geocoder = new google.maps.Geocoder()

	  map = new google.maps.Map(document.getElementById('map'), {
	    center: {lat: 35.6071334, lng: 140.1052183},
	    zoom: 15,
	  });
	  <% @bookmark_postarticles.each do |place| %>
	  	marker = new google.maps.Marker({
	    position: {lat: <%= place.latitude %>, lng: <%= place.longitude %>},
	    map: map,
	    title: "<%= place.title %>"
	  });
	  <% end %>
	}


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script> 
